#alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
  margin-bottom: 2rem;
}

#alert-close-btn {
  display: none;
}

.list-group {
  display: none;
}
.show {
  display: block;
}
